In [ ]:
Dict:
    mutable
    unordered
    all keys should be unique
    all keys should be immutable
Add:
    d[key] = new_value
    setdefault
Update:
     d[key] = new_value
Delete:
    pop
    popitem
    del
    clr

In [ ]:
list :
    mutable
    Ordered
Add:
    append
    extend
    insert
Upadte:
    l[index] = new_value
Delete:
    pop 
    del 
    clear
    Remove

In [ ]:
SET

s = {10,20,30,40,50}

Mutable:
    Add
    Upadate
    Delete
    
Unordered : will not support indexing and sclicing
    
Background implementation of set is nothing but dictionary

{10:0,20:0}

All element in the set should be unique.

All the elements should be immutable : int,float,tuple,str

In [1]:
s = {10,20,30,40,50,60}
print(type(s))

<class 'set'>

In [2]:
s = {}
print(type(s))

<class 'dict'>

In [6]:
s = []
s = set()

print(type(s))

<class 'set'>

In [10]:
s = {10,20,30,40,50,60,7,80,90}
print(s)
s.sort()
print(s)

{7, 40, 10, 80, 50, 20, 90, 60, 30}

AttributeError: 'set' object has no attribute 'sort'

In [9]:
s = {10,20,30,40,50,60,7,80,90}
l = list(s)

print(l)

l.sort()
print(l)

[7, 40, 10, 80, 50, 20, 90, 60, 30]
[7, 10, 20, 30, 40, 50, 60, 80, 90]

In [11]:
s = {10,20,30,40,50,60,7,80,90}
l = list(s)
l = sorted(s)
print(l)

[7, 10, 20, 30, 40, 50, 60, 80, 90]

In [ ]:
Some set Operations

s1 = {10,20,30,40,50}
s2 = {40,50,60,70,80}

Union : 
    s1 union s2 : {10,20,30,60,70,80}

Intersection:
    s1 intersection s2 : {40,50}
        
Difference:
    s1 difference s2: {10,20,30}
    s2 difference s1 : {60,70,80}
        
symmetric differnce: 
    s1 symmetric difference s2 : {10,20,30,70,80,90}

subset and superset

s3 = {10,20,30} : s3 is subset of s1 
                : s1 is subset of s3

In [12]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s3 = s1.union(s2)
print(s3)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [13]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s3 = s1.intersection(s2)
print(s3)

{40, 50, 60}

In [14]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s3 = s1.difference(s2)
print(s3)

{10, 20, 30}

In [15]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s3 = s2.difference(s1)
print(s3)

{80, 90, 70}

In [16]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}
s3 = s2.symmetric_difference(s1)

print(s3)

{70, 10, 80, 20, 90, 30}

In [19]:
s1 = {10,20,30,40,50,60}
s2 = {30,40,50}
print(s2.issubset(s1))
print(s1.issuperset(s2))

True
True

In [20]:
l1 =  [10,20,30,40,50,60]
l2 = [10,20,30]

s1 = set(l1)
s2 = set(l2)

print(s2.issubset(s1))

True

In [1]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s1.update(s2)
print(s1)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [2]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s1.intersection_update(s2)

print(s1)

{40, 50, 60}

In [3]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s1.difference_update(s2)
print(s2)

{70, 40, 80, 50, 90, 60}

In [4]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s1.symmetric_difference_update(s2)
print(s1)

{70, 10, 80, 20, 90, 30}

In [6]:
s1 = {10,20,30,40,50,60}
s1.add(100)

print(s1)

{100, 40, 10, 50, 20, 60, 30}

In [ ]:
add => one element at a time 
    =>no specified position

In [9]:
s1 = {10,20,30,40,50,60}
for value in s1:
    print(value)

40
10
50
20
60
30

In [ ]:
Delete :
    pop,remove,discard,clear,del

In [12]:
s1 = {10,20,30,40,50,60}
r = s1.pop()

print(s1,r)

{10, 50, 20, 60, 30} 40

In [16]:
s1 = {10,20,30,40,50,60}
s1.remove(20)
print(s1)

{40, 10, 50, 60, 30}

In [18]:
s1 = {10,20,30,40,50,60}
s1.discard(200)
print(s1)

{40, 10, 50, 20, 60, 30}

In [21]:
l1 = [10,20,30,40,50,60]
l2 = [40,50,60,70,80,90]
s1 = set(l1)
s2 = set(l2)
s1.update(s2)
l3 = sorted(s1)
print(l3)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

import random

In [ ]:
import random

In [37]:
import random
print(random.random())

0.3674036641070435

In [51]:
import random
dice = [1,2,3,4,5,6]
print(random.choice(dice))

5

In [77]:
import random
print(random.randint(10,70))  => end is inclusive
print(random.randrange(10,70)) => end is not inclusive

30
35

In [ ]:
Generate a default password :
    
    1 Uppercase letter
    1 Lowercase letter
    1 Special character
    5 Digits