In [2]:
a = 2
print(a)

2

In [3]:
b = 2
print(b)

2

In [ ]:
we want to add two digit we want answer

In [4]:
digit1 = 500
digit2 = 600
answer = digit1 + digit2

print(answer)

1100

In [ ]:
add four digit and get output

In [5]:
a = 20
print(type(a))

<type 'int'>

In [6]:
b = "HI PYTHON"
print(type(b))

<type 'str'>

In [7]:
c = 65.78
print(type(c))

<type 'float'>

In [1]:
e = 89
print(id(e))

44263144

In [2]:
d = {"name":"john","lastname":"clay","contactno":8989898989}
print(type(d))

<type 'dict'>

In [7]:
a = b
print(id(a))
a = 40
b = 30
print(id(a))
c= a+b
print(c)

44260816
44262328
70

In [11]:
s = [10,20,30,40]
print(id(s))
s.append(50)
print(s)
print(id(s))

77677064
[10, 20, 30, 40, 50]
77677064

In [ ]:
DATA TYPE IN PYTHON

int = 10 
str = "HI"  'Python' '''PYTHON'''
float = 45.12  
list = [45,56,56,"java","Ptython","C++",60.20]
tuple = (1,2,3,"ruby")
dict={"name":"john","contactno":7894561235}
set={12,56,45,8,9}
bool =  True  False


MUTABLE AND IMMUTABLE DATA TYPES

MUTABLE : list, dict,set 
    
IMMUTABLE : int,str,float,tuple

In [ ]:
OPERATORS

1.Arithmetic Operators
+ , - , *,/ ,**,//,%

+ Addition Operator
- Substraction Operator
* Multiplication
/ true division
** power
// floor division
% remainder

2.Comparision Operators

== 
<
>
<=
>=
!=

3.Identity Operator
is
is not

4.Assignment Operator

=
+=
-=
*=
/=

4.Logical Operators

and 
or
not

5.Membership Operators

in
not in

6 Bitwise OPERATOR

&  AND
|  OR
^ XOR
~ compliment
<< Binary left shift
>> Binary right shift

In [2]:
a = 50
print(id(a))
a =60
print(id(a))

45443304
45443064

In [8]:
b = [10,2,30,40]
print(id(b))
print(b)
b.append(85)
print(b)
print(id(b))

79774728
[10, 2, 30, 40]
[10, 2, 30, 40, 85]
79774728

In [7]:
p = 50.60
print(id(p))
p = 89.1
print(id(p))

73185792
73163808

In [10]:
a = 50
print(a)
a = "HI PYTHON"
print(a)

50
HI PYTHON

In [16]:
_name54 = "john"
print(_name)

john

In [ ]:
1.Arithmetic Operators
+ , - , *,/ ,**,//,%

+ Addition Operator
- Substraction Operator
* Multiplication
/ true division
** power
// floor division
% remainder

In [17]:
num1 = 50
num2 = 100
total = num1 + num2
print(total)

150

In [18]:
num1 = 50
num2 = 100
total = num1 - num2
print(total)

-50

In [19]:
num1 = 50
num2 = 100
total = num1 * num2
print(total)

5000

In [31]:
num1 = 100
num2 = 23
total = num1 / num2
print(total)

4

In [34]:
num1 = 100
num2 = 23
total = num1//num2
print(total)

4

In [37]:
a = 4
b = 3
power = a**b
print(power)

64

In [38]:
a = 20
b = 3
rem = a%b
print(rem)

2

In [41]:
a = "HI"
b = "Python"
rem = a+b
print(rem)

HIPython

In [ ]:
Calculate circumference of circle having radius 20     hint : c = 2(3.14) r

In [42]:
pi=3.14
r=20
res=pi*r ** r
print (res)

3.29252864e+26

In [44]:
radius = 20
circumference = 2*(3.14)*radius
print(circumference)

125.6

In [3]:
a = 100
print(id(a))
a = 120
print(id(a))

140705557089648
140705557090288

In [12]:
s1 = 50
s2 = 60
print(s1 != s2)

True

In [ ]:
Membership operator 
in 
not in

In [13]:
print(5 in 500)

TypeError: argument of type 'int' is not iterable

In [ ]:
iterable data types
str,tuple,dict,list,set

not iterable datatypes
int,float

In [15]:
l = [10,20,30,40]
print(20 not in l)

False

In [22]:
d = {1:200,2:200,3:300}
print(3 not in d)

False

In [ ]:
note:
    in not in  will not work with int, float.
    in case if dict in /not in only check withkeys, will not check with the values.

In [ ]:
IDENTITY OPERATOR:
    is
    is not

num1 = 100
num2 = 200
print(num1 == num2)

In [28]:
num1 = 255
num2 = 100
print(num1 == num2)
print(num1 is num2)

False
False

In [ ]:
python memory optimisation 
0 - 256

In [31]:
num1 = 600
num2 = 600
print(num1 is num2)

False

In [33]:
l1 = [10,20,30,40]
l2 = [10,20,30,40]

print(l1 is not l2)

True

In [ ]:
== compare values
is compare memory location

In [ ]:
Asignment operator

=
+=
-=
*=
/=

In [41]:
num1 = 20
num1 += 30
num1 = num1 + 30
num1 -= 30
num1 *= 2
num1 /= 2
print(num1)

50.0

In [ ]:
Logical Operators

and 
or
not

In [42]:
print(100 == 100 and 100 != 100)

False

In [43]:
print(100 == 100 or 100 != 100)

True

In [46]:
print(100 == 100 not 100 != 100)

SyntaxError: invalid syntax (<ipython-input-46-884aa0178373>, line 1)

In [ ]:
TRUE OR FALSE

Membership operators
Logical operators
Identity Operator
comparision operators

In [1]:
l=30
w=60
area=l*w
print(area)

1800

In [3]:
r=5.5
pi=3.1415
area=pi*(r**2)
print(area)

95.030375

In [4]:
student=["john","jack","ron"]
print("jack" in student)

True

In [5]:
# score=78
# total=150
# per=(score/total)*100
# print(per)

52.0

comments in python

 single line comment  #int = 2
 multiline comment  cntrl + /

In [ ]:


= and ==

== and is

type()
id()

In [ ]:
Conditional statements and looping statements
if 
elif
else

In [ ]:
if [condition]:
logical operator
comparision operator
membership operator
indentity opeartor

num1 = 200
num2 = 200
if

In [12]:
num1 = 500
num2 = 200
if num1 > num2:
    print("num1 is greater than num2")
    print("num1 is first value")
elif num2 > num1:
    print("num2 is greater than num1")
else:
    print("Both values are same")

num1 is greater than num2
num1 is first value

In [ ]:
PEP 8

In [ ]:
char = 'a'
(vowel or consonent)

In [13]:
vowel=["a","e","i","o","u"]
str="a"
if "str" in vowel:
    print(str + " is vowel")
else:
    print(str + " is consonent")

a is consonent

In [14]:
if Vowel=a,e,i,o,u:
    Print("char is vowel") 
else:
    Print("char is consonent")

SyntaxError: invalid syntax (<ipython-input-14-37dd65f96e12>, line 1)

In [17]:
char ='u'
if char in 'aeiou':
    print("vowel")
else:
    print("consonent")

vowel

In [22]:
if " ":
    print("hi")
else:
    print("Python")

hi

In [ ]:
Any non zero value in python is TRUE
and any zero value in python is FALSE   0," ",[ ],( ),{ },None

In [28]:
l = ""
if l:
    print("str is not empty")
else:
    print("str is empty")

str is empty

In [29]:
l = [10,20,30]
print(len(l))

3

In [31]:
l = [10,20,30]
if len(l)>0:
    print("list is not empty")
else:
    print("list is empty")

list is not empty

In [ ]:
marks_obtained = 300
total_mark = 500
40% to pass else fail

In [35]:
mark=200
total=500
if ((mark/total)*100)>40:
    print("pass")
else:
    print("fail")

fail

In [37]:
obtained_mark = 300
total = 500
passing_per = 40
if ((obtained_mark/total)*100)>=passing_per:
    print("pass")
else: 
    print("fail")

pass

In [ ]:
num1 = 45

In [38]:
num1 = 45
if (num1/2)=int:
      print("even")
else:
      print("odd")

SyntaxError: invalid syntax (<ipython-input-38-c527c80c2e61>, line 2)

In [39]:
num = 45
ans = num % 2
if ans:
    print("odd number")
else:
    print("even number")

odd number

In [40]:
num1 = 45
if num1 % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [ ]:
currencies = 2000,500,100,50,10
amount = 1999

In [45]:
print(5560 // 2000)

2

In [47]:
cost = 5560

if amount >= 2000:
    print("Notes of 2000 are "cost // 2000)
else:
    print(" can not issue the notes of 2000")

SyntaxError: invalid syntax (<ipython-input-47-3863f20d15eb>, line 4)

In [53]:
amount = 5560

if amount >= 2000:
    print("issue note of 2000",amount//2000)
    amount = amount % 2000
else:
    print("can not issue notes")
if amount >= 500:
    print("issue note of 500",amount//500)
    amount = amount % 500
else:
    print("can not issue notes")
if amount >= 100:
    print("issue note of 100",amount//100)
    amount = amount % 100
else:
    print("can not issue notes")
if amount >= 50:
    print("issue note of 50",amount//50)
    amount = amount % 50
else:
    print("can not issue notes")
if amount >= 10:
    print("issue note of 10",amount//10)
    amount = amount % 10
else:
    print("can not issue notes")

issue note of 2000 2
issue note of 500 3
can not issue notes
issue note of 50 1
issue note of 10 1

In [ ]:
rating = (1-5)
tip % of total bill

1 10
2 20
3 30
4 40
5 50
bill_amount = 1000

In [ ]:
bill = 1000
rate = 2

if 1 in rate:
    bill = bill + (10/100)* bill
    print("bill is :",bill)
else:
    print("bill is",bill)
if 2 in rate:
    bill = bill + (20/100)* bill
    print("bill is :",bill)
else:
    print("bill is",bill)
if 3 in rate:
    bill = bill + (30/100)* bill
    print("bill is :",bill)
else:
    print("bill is",bill)
if 4 in rate:
    bill = bill + (40/100)* bill
    print("bill is :",bill)
else:
    print("bill is",bill)
if 5 in rate:
    bill = bill + (50/100)* bi
missing part
if 5 in rate:
    bill = bill + (50/100)* bill
    print("bill is :",bill)
else:
    print("bill is",bill)

In [3]:
rating = int(input())
bill_amount = 1000
tip = bill_amount * (rating * 10)//100
final_amount  = bill_amount + tip

print(final_amount)

5
1500

In [ ]:
looping statements :
    for
    while

In [ ]:
l = [10,20,30,40]
for [userdefined_variable] in [iterable_datatype]:
    [statement]
[outer_statement]

In [4]:
l = [10,20,30,40]
for value in  l:
    print(2 * value)

20
40
60
80

In [ ]:
iterable datatype:
    list
    tuple
    dict
    str
    set
not iterable datatype
  int
  float

In [5]:
s = "python sample string"
for i in s:
    print(i)

p
y
t
h
o
n

s
a
m
p
l
e

s
t
r
i
n
g

In [8]:
for i in "python sample string":
    print(i)

p
y
t
h
o
n

s
a
m
p
l
e

s
t
r
i
n
g

In [13]:
d = {"name":"john","lastname":"calay","id":56}
for y in d:
    print(y)

name
lastname
id

In [10]:
d = {"name":"john","lastname":"calay","id":56}
for x in d:
    print(x)

name
lastname
id

In [ ]:
l = [10,20,30,40,50]

In [ ]:
sum = 0
num1 = 10
sum = 0 + 10 = 10

num2 = 20
sum  = 10 + 20 = 30

num3 = 30
sum = 30 + 30 = 60

num4 = 40
sum = 60 + 40 = 100

num5 = 50
sum = 100 + 50 = 150

In [15]:
sum = 0
l = [10,20,30,40,50]
for value in l:
    sum  = sum + value
print(sum)

10
30
60
100
150

In [16]:
range(10)

range(0, 10)

In [ ]:
range(10)  0....9
range (50,60) 50....59
range(10,30,5) 10,15,20,25....

In [17]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [18]:
for value in range(10, 60):
    print(value)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59

In [19]:
for value in range(20,90,8):
    print(value)

20
28
36
44
52
60
68
76
84

In [ ]:
create a table for 5

In [20]:
for value in range(5,55,5):
    print(value)

5
10
15
20
25
30
35
40
45
50

In [ ]:
s ="python sample string"
vowel_count
consonent_count

In [4]:
s = "python sAmple string"
vowel = "aeiouAEIOU"
space = " "
v = 0
c = 0
sp = 0
for value in s:
    if value in vowel:
        v+=1
    elif value in space:
        sp += 1
    else:
        c+=1
print("vowel",v)
print("consonent",c)

vowel 4
consonent 14

In [ ]:
1. given two numbers, print their sum. However , if the two numbers are the same , return double their sum .

In [ ]:
2.Given a cost price and selling price of a product write program to calculate profit or loss.

In [7]:
a = 200
b = 200
if a != b :
    ans = a + b
else :
    ans = a * 2
print("Sum of given number = ",ans)

Sum of given number =  400

In [9]:
cost_p = 100
selling_p = 50
ans = selling_p - cost_p
if cost_p <= selling_p:
    print("Profit of rs", ans)
else:
    print("loss of rs ", ans)

loss of rs  -50

In [10]:
cost_price = 200
selling_price = 100

if selling_price > cost_price:
    print("Profit of :",selling_price - cost_price)
elif cost_price > selling_price:
    print("Loss of :", cost_price - selling_price)
else:
    print("No prifit No loss")

Loss of : 100

In [ ]:
l = [10,20,30,40,50,-78,90,100]

In [1]:
l=[10,20,30,40,50,-78,90,100]
for i in l:
    if i<0:
        print(i)

-78

In [ ]:
l = [10,20,30,50,60]
key = 40

l = [10,20,30,50,60]
key = 30
for value in l:
    if value == key:
        print("key is present",key)
 else:
        print("key is not present")

In [12]:
l = [10,20,30,40]
key = 50
for value in l:
    if value == key:
        print("key is present")
else:
    print("key is not present")

key is not present

In [ ]:
pass 
break
continue

In [14]:
l = [10,20,30,40,50,60,-89,20,70,99]
for value in l:
    if value <0 :
        print("number is negative:",value)
        break
        print("abcd")
    else:
        print(value)

10
20
30
40
50
60
number is negative: -89

In [4]:
if "hi":
    print("hi")
else:
    pass
    print("hello")

hi

In [ ]:
s = "Python sample string"
vowel_count 
consonent_count

In [5]:
if s = "Python sample string" :
        print("vowel count")
else : 
        pass
        print("consonent count")

SyntaxError: invalid syntax (<ipython-input-5-eca77506cecf>, line 1)

In [11]:
s = "Python sample string"
vowel_count = 0
consonent_count = 0

for value in s:
    if value in "aeiouAEIOU":
        vowel_count +=1
    elif value == " ":
        continue
    else:
        consonent_count+=1
        
print("Total no of vowels :",vowel_count)
print("Total no of consonents:",consonent_count)

Total no of vowels : 4
Total no of consonents: 14

In [12]:
l = [10,20,30,40,50,60]
print(len(l))

6

In [13]:
l = [10,20,30,40,50,60,70,80,90]
print(l[5])

60

In [ ]:
l = [10,20,30,40,50,60,70,80,90]

In [ ]:
enumerate will give you both value and index

In [15]:
l = [10,20,30,40,50,60,70,80,90]
for index,value in enumerate(l):
    print(index,value)

0 10
1 20
2 30
3 40
4 50
5 60
6 70
7 80
8 90

In [16]:
s = "Python"
for index,value in enumerate(s):
    print(index,value)

0 P
1 y
2 t
3 h
4 o
5 n

In [ ]:
check given number is perfect or not: 
    6 : 1 ,2 ,3 
6 : 1 , 2,3,4,5

In [17]:
num = 68890
l = [1,2,3,4,5]
sum=0
for value in l:
    if num%value==0:
        sum += value
        print(sum)
else:
    sum == num
    print(num," is perfect number")

1
3
6
6  is perfect number

In [22]:
num1 = 89
sum = 0
for value in range(1,num1):
    if num1 % value == 0:
        sum = sum + value
if sum == num1:
    print("Perfect number")
else:
    ("Not Perfecr number")

In [23]:
num1 = 89
sum = 0
for value in range(1,num1):
    if num1 % value == 0:
        sum = sum + value
if sum == num1:
    print("Perfect number")
else:
    ("Not Perfecr number")

In [5]:
num1 = 89
sum = 0
for value in range(1,num1):
    if num1 % value == 0:
        sum = sum + value
if sum == num1:
    print("Perfect number")
else:
    print("Not Perfect number")

Not Perfecr number

In [4]:
print("jk")

jk

In [ ]:
working with nested for loop

In [8]:
for value1 in range(1,6):
    for value2 in range(1,11):
        print(value1 * value2)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

In [ ]:
while 

while condition => True,False:
    statements
    statements

In [ ]:
find a factorial :
    5 : 5 * 4 *3 * 2 *1

In [15]:
num1 = 5
result = 1
while num1>1:
    result = result * num1
    num1 = num1 -1
print(result)

120

In [14]:
count = 1
sum = 0

while count<=20:
    sum = sum +count
    count = count+1
print(sum)

210

In [ ]:
write a program to check whether triangle is equilateral, scalene or isosceles :
    
    1.A triangle is said Equilateral triangle if all sides are equal.
    2.A triangle is isosceles   a==b or b==c or a== c (if two sides are equal)
    3.A scalene all sides are different
    
    
    side_a = 10
    side_b = 30
    side_c = 20

In [ ]:
if
elif
else

In [5]:
side_a = 10
side_b = 10
side_c = 10
if side_a == side_b == side_c:
    print("It is an equilateral triangle")
elif side_a == side_b or side_a == side_c or side_c == side_b:
    print("It is an Issosceles triangle")
else:
    print("It is a scelene triangle")

It is an equilateral triangle

In [ ]:
sides_of_triangle = (a,b,c)
for value in sides_of_triangle 
if value in "a=b=c":
     print (equilateral triangle)
elif value == ("a=b, b=c, c=a)
     print (isosceles triangle)
 else :
     print (scalene triangle)

In [ ]:
3. write a program to input basic salary of an employee and calculate gross salary according to given condition:
    
    Basic salary <= 10000 : HRA = 20%, DA = 80%, 
        
                 between  10001 to 20000 : HRA = 25% , DA = 90% 
                 
                between >= 20001 : HRA = 35% , DA = 95% 
                    
                    hra = (basic_salary * 20)/100
                    da = (basic_salary * 80)/100
                    
    gross = basic + hra + da

In [6]:
basic_salary = int(input())

20000

In [10]:
basic_salary = int(input())
if basic_salary <= 10000:
    hra = (basic_salary *20)/100
    da = (basic_salary * 80)/100
elif basic_salary in range(10001,20001):
    hra = (basic_salary *25)/100
    da = (basic_salary * 90)/100
else:
    hra = (basic_salary *35)/100
    da = (basic_salary * 95)/100
gross_salary = basic_salary + hra + da
print(gross_salary)

50000
115000.0